.ECommerce {
    min-height: 100vh;
    display: flex;
}
.sidebar-page-container{
    display: flex;
    justify-content: space-between;

}

.e-commerce-body-container{
   margin-top: 75px;
   min-width: 100vw;

}

.sidebar-ecommerce{
    margin-left: 450px;
    min-width: 60vw;
}

.e-commerce-heading{
    text-align: center;
}

.menu-btn{
    height: 50px;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 100%;
    width: 50px;
}

.menu-icon{
    font-size: 24px;
}

.menu-btn:hover{
    background-color: silver;
}