.datatable-crud-demo{
    max-width: 90vw;
    display: flex;
    flex-direction: column;
   min-height: auto;
   margin: 20px;
   /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 960px) {
    .datatable-crud-demo .table-header {
        align-items: flex-start;
    }
}
.datatable-crud-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}







.datatable-crud-demo .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}
.datatable-crud-demo .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 960px) {
    .datatable-crud-demo .p-toolbar {
        flex-wrap: wrap;
    }
    .datatable-crud-demo .p-toolbar .p-button {
        margin-bottom: 0.25rem;
    }
    .datatable-crud-demo .table-header {
        flex-direction: column;
    }
    .datatable-crud-demo .table-header .p-input-icon-left, .datatable-crud-demo .table-header input {
        width: 100%;
    }
}
.status-active{
    background-color: rgb(144, 216, 144);
    color: rgb(14, 83, 14);
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}
.status-inactive{
    background-color: rgb(223, 156, 156);
    color:rgb(145, 12, 12);
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}
.toast-container{
    z-index: 2 !important;
}
.cards{
   width: 96vw;
}
.dark-bg{
    /* background-color: black
    background-color: black !important;
    color: #ffffff !important;
} */
}
.sidebar-table{
    width: 80vw;
}
